/* TODO: Set font family and background color for the page */

body {
}

/* TODO: Style headings */
h1 {
}

/* TODO: Style paragraphs */
p {
}

/* TODO: Style the main container using flex */
div {
}

/* TODO: Style the image */
img {
}

/* TODO: Style lists */
ul {
}
